@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #0E0E0E;
  --primary: #2BD9AF;
  --secondary: #FF5E84;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

